.button-left {
    position: absolute !important;
    right: 0 !important;
    top: 13% !important;
    margin-right: 340px !important;
    background-color: green !important;
}

.button-left:hover {
    background-color: darkgreen !important;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 16px;
}
.addSkill {
    float: 'right';
    margin-top: '20px';
    margin-left: 150px !important;
    background-color: green !important;
}
.box {
    width: 55%;
    margin-top: 58px;
    margin-left: 270px;
}

